* {
    margin: 0;
    padding: 0;
}

body {
    max-width: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0px auto
}
 nav.main  {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    width: auto;
    background-color: #181818;
    z-index: 1;
    overflow-x: hidden;

}

nav.main  li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color:white;
    padding: 0px;
    margin-top: 220px;
    margin-bottom: -200px;
}
nav.main li:hover {
    background: #eb1b1b;
}
.responsiveLogo{
    width:auto;
    height:60px;

}
.social{
margin-top: 360px;
margin-bottom: -200px ;
list-style-type: none;
}
.social a{
color: grey; 
}
.dropdown-content {
  display: none;
  background-color: #181818;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
    color: grey;
    margin-left: 20px; 
}
.dropdown-content img{
    margin-left: 100px;
}
/* Home */ 
.content {
    text-align: center;
    left: 50px;
    width: 100%;
    height: auto;
    bottom: auto;
    padding-bottom: 100%;
    transition: transform 0.4s ease;
    margin: 20% 0 0 0;
    z-index: 1;
}

.content h1.lg-heading {
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 6rem;
    animation-duration: 3s;
    animation-delay: 1s;
}
.content h2.sm-heading {
     animation-duration: 3s;
     animation-delay: 1s;
     color: white;
}
/* about */ 
.about {
     margin: 20% 20% 20% 10%;
}

.me  {
    position: relative;
    color: white;
    height: 100px;
    width: 400px;
    margin-left: 20%;
    z-index: 1; 
     animation-duration: 3s;
     animation-delay: 1s;
}
.me h1.aboutMe{
    font-size: 4em;
    animation-duration: 2.5s;
    animation-delay: 1s;
}
.me h2.about-me {
    font-size: 1.5em;
    animation-duration: 3s;
    animation-delay: 1s;

}

.rotating-box{
    width: 700px;
    height: 400px;
    perspective: 800px;
    float: right;
    margin-left: 20%
    
}
.single-rb{
    width: 400px;
    animation: rotate 15s linear infinite;
    transform-style: preserve-3d;
}

.single-rb img{
    height: 400px;
    width: 400px;
   
    
}
.single-rb div{
    position: absolute;
    width: 400px;
    height: 400px;
    
}
.front-side{
    transform: translateZ(200px);
}
.back-side {
    transform: rotateY(180deg) translateZ(200px);
}
.left-side {
    transform: rotateY(-90deg) translateX(-200px);
    transform-origin: left;
}
.right-side {
    transform: rotateY(90deg) translateX(200px);
    transform-origin: right;
}
.top-side {
    transform: rotateX(-90deg) translateX(-200px);
    transform-origin: top;
}
.bottom-side {
    transform: rotateX(-0deg) translateY(200px);
    transform-origin: bottom;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #181818;
    color: white;
    box-sizing: border-box;
    text-align: right;
    font-size: 30px;
    display: none
    
}
/* Skills */ 
.skills {
    width: 20%;
    position: relative;
    float: right;
    margin-right: 15%;
    z-index: 1;
    color: white;
    overflow-x: hidden;
}
.skills h2 {
  font-size: 24px;
  margin-bottom: 25px;
}
.skills ul {
  padding-top: 50px;
}

.skills ul > li {
  margin-bottom: 70px;
  background: #000;
  height: 5px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
.skills ul > li em {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  position: relative;
  top: -30px;
}
.skills ul > li span {
  height: 1px;
  margin: 2px 0;
  background: #eb1b1b;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
}
.skills .html5 {
  width: 70%;
  animation: html5 2s ease-out;
}
.skills .css3 {
  width: 90%;
  animation: css3 2s ease-out;
}
.skills .jquery {
  width: 50%;
  animation: jquery 2s ease-out;
}
.skills .photoshop {
  width: 60%;
  animation: photoshop 2s ease-out;
}
.skills-exp{
  width: 40%; 
    position: relative;
    z-index: 1;
    color: white;
    margin-right: 20%;
    margin-left: 15%
}
.skills-exp h1 {
  animation-duration: 2s;
  animation-delay: 1s;
}
.skills-exp p {
  animation-duration: 2s;
  animation-delay: 0s;
}
/* projects */
.projects {
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 1;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  top: -100px;
  margin: 0 30% 5% 10%
 
}
.projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #eb1b1b;
      transition: all 0.5s ease-out; }
.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eb1b1b;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: gray;
  color: black; }
/* Contact */
 .ContactMe {
  position: relative;
  text-align: center;
  color: white;
}
.ContactMe h1{
  font-size: 4.5pc;
    animation-duration: 2s;
  animation-delay: 0s;
}
.contact-form {
  position: relative;
  left: 400px;
  background-color: transparent;
}
form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  position: relative;
  width: 400px;
  background: transparent;
  border: none;
  margin-bottom: 16px;
  color: #fff;
}
.form-control[type=text] ,[type=email]:focus{
  background-color: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control[placeholder="Message"]:focus{
  background-color: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* rotating box */
@media (max-width:757px)
{
.toggle {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;

}
nav.main {
    position: fixed;
    width: 100%;
    display: none;
}
.contact-form {
  position: relative;
  left: 100px;
  background-color: transparent;
}
}
.show {
    display:block;
}


@keyframes rotate{
      0%{transform: rotateY(0)}
      100%{transform: rotateY(360deg);}
}
/* skills bar */
@keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes css3 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}